# Date: 7/29/2026
## Hello there
Written by Tommy 

-(Backend conclusion)
tested alreadt
details pls check folder(testing)-backend-test_plan.md



-(Frontend conclusion)
Half way there


-(Real user experience of SISO)
The camera feature is still only half way done.
Camera cannot detect and scan the Student ID.
The "Sign out a sport equipment" feature and "Sign in a sport equipment" feature are both not works, there's nothing inside.
BTW, I found there's a kind of delay when nobody is using it.  THe time display also goes wrong when nobody touch the SISO ipad screen
And the user interface is kind of weird design.  There's a huge space for the home page, it looks like when they design it they was about to put feature in that place but they don't.  That's why it is a bad design if they don't make it as how they suppose to looks like.  Maybe we can put destination feature there I guess.

We got:

Time display bug

UI design not make sense

The multipole language display feature still on develop

The backdoor:?


The bug we have already fixed so far:

Danny:
Time in not being not valueble(don't really sure I spell's right)

Cameron:


Cohen:
barcode scanner bugs
Liam:






